@import url('../../global.css');

.product-description-container{
    width: 90%;
    margin: 0 auto;
}

.product-tittle-init{
    text-decoration: none;
    font-size: 1.6em;
    color: var(--font-black);
    padding-top: 1.6rem;
    font-family: "Playfair Display", serif;
    font-weight: 500;
    display: block;
}

@media only screen and (min-width: 1133px){
    .product-description-container{
        width: 97%;
    }
}

@media only screen and (min-width: 1280px){
    .product-tittle-init{
        display: none;
    }
}