@import url('../../global.css');

.personalize-shoes{
    width: 100%;
    height: 56.8rem;
    background-image: url('../../assets/images/background-personalize-cellphone.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0%;
    display: flex;
    align-items: center;
    justify-items: center;
    margin-top: 1.6rem;
    font-weight: 300;
}

.personalize-shoes .personalize-shoes-container{
    width: 26.7rem;
    height: 20.6rem;
    margin: 0 auto;
}

.personalize-shoes-container h3{
    font-family: "Caveat", cursive;
    font-size: 2.4rem;
    text-align: center;
    color: var(--first-white);
}

@media only screen and (min-width: 568px){
    .personalize-shoes{
        width: 100%;
        height: 32rem;
        background-image: url('../../assets/images/background-pesronalize-tablet.jpg');
        background-size: cover;
    }

    .personalize-shoes .personalize-shoes-container{
        width: 40.5rem;
        height: 15.4rem;
    }
}

@media only screen and (min-width: 744px){
    .personalize-shoes{
        height: 60.2rem;
    }
}

@media only screen and (min-width: 1280px){
    .personalize-shoes{
        height: 51.8rem;
        background-image: url('../../assets/images/background-personalize-desktop.jpg');
        background-size: cover;
        background-position: center;
    }

    .personalize-shoes .personalize-shoes-container{
        width: 60rem;
        height: 20rem;
    }

    .personalize-shoes-container h3{
        font-size: 3.6rem;
    }

    .personalize-shoes .personalize-shoes-container{
        margin-top: 3.2rem;
    }
}
