@import url('../../global.css');

.all-products-container{
    width: 90%;
    margin: 0 auto;
}

.all-products-global-nav{
    display: none;
}

.all-products-tittle-init{
    text-decoration: none;
    font-size: 1.6em;
    color: var(--font-black);
    padding-top: 1.6rem;
    font-family: "Playfair Display", serif;
    font-weight: 500;
    display: block;
}

.all-products-tittle-main{
    text-align: center;
    margin-top: .8rem;
    font-size: 3.2rem;
    font-family: "Caveat", cursive;
    font-weight: 300;
}

.all-products-filter{
    width: 18.4rem;
    height: 3.2rem;
    border: 1px solid var(--line-gray);
    display: flex;
    font-size: 1.6rem;
    align-items: center;
    justify-content: space-evenly;
    border-radius: .4rem;
    margin: 0 auto;
    margin-top: 2.4rem;
}

.all-products-basic-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.all-products-general-container{
    display: flex;
    flex-direction: column;
}

/*estilos para la lista de productos*/
.all-products-pages{
    display: flex;
    width: 16.4rem;
    height: 3.2rem;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 1.6rem;
}


.all-products-charger{
    width: 22.2rem;
    height: 3.2rem;
    background: var(--second-white);
    color: var(--black-font);
    border-radius: .4rem;
    margin: 0 auto;
    margin-top: 2.4rem;
    display: block;
    text-align: center;
    align-content: center;
    font-size: 1.6rem;
    text-decoration: none;
    font-weight: 500;
    border: 1px solid var(--line-gray)
}

.all-products-indicator{
    text-align: center;
    margin-top: 1.6rem;
    font-family: "Caveat", cursive;
    font-weight: 300;
    font-size: 2.8rem;
}

@media only screen and (min-width: 568px){
    .all-products-container{
        width: 94%;
    }

    .all-products-container{
        width: 97%;
    }

    .all-products-filter{
        display: none;
    }

    .all-products-general-container{
        display: grid;
        margin-top: 6.4rem;
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
        width: 100%;
        gap: 1.6rem;
    }
}

@media only screen and (min-width: 744px){
    .all-products-global-nav{
        display: flex;
        font-size: 1.6rem;
    }

    .all-products-global-nav a{
        text-decoration: none;
        color: var(--black-font);
    }
}

@media only screen and (min-width: 1133px){
    .all-products-general-container{
        grid-template-columns: repeat(4,1fr);
    }
}

@media only screen and (min-width: 1280px){
    .all-products-tittle-init{
        display: none;
    }

    .all-products-basic-container{
        flex-direction: row;
        justify-content: space-between;
    }

    .all-products-general-container{
        width: 84%;
        margin-top: 1.6rem;
    }
}
