@import url('../../global.css');

.sidebar{
    background: var(--second-white);
    color: var(--black-font);
    height: 56.8rem;
    left: 100%;
    width: 100%;
    transform: translateX(0px);
    transition-delay: .2s; 
    transition-duration: 1.2s;
    transition-timing-function: ease-in-out;
    position: fixed;
}

.sidebar-change{
    background: var(--second-white);
    color: var(--black-font);
    height: 56.8rem;
    left: 0%;
    width: 100%;
    transform: translateX(0px);
    transition-delay: .2s; 
    transition-duration: 1.2s;
    transition-timing-function: ease-in-out;
    position: fixed;
}

.sidebar-link-all{
    width: 21rem;
    height: 3.2rem;
    border: 1px solid var(--line-gray);
    border-radius: .4rem;
    text-decoration: none;
    text-align: center  ;
    align-content: center;
    font-size: 1.6rem;
    color: var(--black-font);
    margin-top: 1.2rem;
}

.sidebar-tittle{
    font-family: "Playfair Display", serif;
    font-size: 1.6rem;
    text-align: center;
    margin-top: 3.4rem;
    text-decoration: none;
    display: block;
    color: var(--black-font);
}

.sidebar--car-first-container{
    display: flex;
    width: 300%;
    overflow-x: hidden;
    transform: translateX(0%);
    left: 0%;
    transition-duration: .4s;
}

/*movimientos del sidebar*/
.sidebar--car-second-movement{
    display: flex;
    width: 300%;
    overflow-x: hidden;
    transform: translateX(-33.33%);
    left: 0%;
    transition-duration: .4s;
}

.sidebar--car-third-movement{
    display: flex;
    width: 300%;
    overflow-x: hidden;
    transform: translateX(-66.66%);
    left: 0%;
    transition-duration: .4s;
}

.sidebar-carousel-container{
    height: 40.3rem;
    width: 100%;
    overflow-x: hidden;
}

.sidebar-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    scroll-snap-align: start;
}



.sidebar-cart-container{
    width: 100%;
    height: 39.9rem;
    display: flex;
    justify-content: center;
    scroll-snap-align: start;
}

.sidebar-user-container{
    width: 100%;
    height: 39.9rem;
    display: flex;
    justify-content: center;
    scroll-snap-align: start;
}

.sidebar-about-me,
.sidebar-log-in,
.sidebar-register{
    font-size: 1.6rem;
    text-align: center;
    display: block;
    margin-top: 2.4rem;
    text-decoration: none;
    color: var(--black-font);
}

.sidebar-overflow-buttons{
    display: flex;
    width: 7.8rem;
    height: .8rem;
    display: flex;
    justify-content: space-between;
   position: absolute;
   top: 48.8rem;
   left: calc( 50% - 3.9rem)
}

.sidebar-overflow-buttons .first-button,
.sidebar-overflow-buttons .second-button,
.sidebar-overflow-buttons .third-button{
    height: .8rem;
    width: .8rem;
    border-radius: .4rem;
    background: var(--line-gray);
    transition-duration: .4s; 
    transform: scale(1);
}

.sidebar-overflow-buttons .first-dark-button,
.sidebar-overflow-buttons .second-dark-button,
.sidebar-overflow-buttons .third-dark-button{
    height: .8rem;
    width: .8rem;
    border-radius: .4rem;
    background: var(--black-font);
    transition-duration: .4s;
    transform: scale(1.2);
}

.sidebar-options-buttons{
    width: 9.3rem;
    height: 3.2rem;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 51.8rem;
    left: calc( 50% - 4.65rem );
}

.sidebar-shoppping-cart{
    position: relative;
    z-index: 0;
}

.shopping-cart-marker{
    width: 1.6rem;
    height: 1.6rem;
    font-size: 1.2rem;
    border-radius: 50%;
    background: var(--black-font);
    color: var(--first-white);
    text-align: center;
    align-content: center;
    z-index: 1;
    position: absolute;
    top: -2px;
    left: 18px;
}

@media only screen and (min-width: 568px) {
    .sidebar, .sidebar-change{
        padding: 1.6rem;
        height: 32rem;
    }
    .sidebar-tittle{
        margin-top: 0px;
    }

    .sidebar-container {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 17.6rem;
    }

    .sidebar-carousel-container{
     height: 23.6rem;   
     margin-top: 1.6rem;
    }

    .sidebar--car-first-container{
        height: 23.6rem;      
    }
    .sidebar--car-second-movement,
    .sidebar--car-third-movement{
        height: 17.6rem;
    }

    .sidebar-cart-container{
        height: 100%;
    }

    .sidebar-about-me{
        order: 2;
        margin: 0;
        align-self: flex-start;
        margin-top: .8rem;
    }

    .sidebar-log-in{
        order: 3;
        margin: 0;
        align-self: flex-start;
        margin-top: .8rem;
    }

    .sidebar-register{
        order: 4;
        margin: 0;
        align-self: flex-start;
        margin-top: .8rem;
    }

    .sidebar-user-container{
        height: 17.4rem;
    }

    .sidebar-options-buttons{
        top: 27.2rem;
    }

    .sidebar-overflow-buttons{
        top: 24.8rem;
    }
  }

  @media only screen and (min-width: 744px){  
    .sidebar,.sidebar-change{
        height: 113.3rem;
        max-height: 74.4rem;
    }

    .sidebar-tittle{
        margin-top: 9.4rem;
    }

    .sidebar-link-all{
        width: 19rem;
    }
    .sidebar-container{
        flex-direction: column;
        width: 23.5rem;
        margin: 0 auto;
        justify-content: center;
        height: auto;
        align-self: flex-start;
        padding-left: 4rem;
    }

    .sidebar--car-first-container{
        justify-content: space-evenly;
        margin-top: 3.2rem;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        justify-items: center;
        height: 36.4rem;
        gap: 3.2rem;
        width: 330%;
    }

    .sidebar--car-second-movement,
    .sidebar--car-third-movement{
        margin-top: 3.2rem;
        height: 36.4rem;

        margin-top: 3.2rem;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        justify-items: center;
        height: 36.4rem;
        width: 330%;
    }

    .sidebar-about-me,
    .sidebar-log-in,
    .sidebar-register{    
        margin-top: 2.4rem;
    }

    .sidebar-options-buttons{
        top: 59.4rem;
    }

    .sidebar-overflow-buttons{
        top: 56.4rem;
    }

    .sidebar-carousel-container{
        height: 40.3rem;
        width: 23.4rem;
        margin: 0 auto;
    }
}