@import url('../../global.css');

.releases .releases-tittle{
    display: flex;
    font-size: 2.8rem;
    font-family: "Caveat", cursive;
    color: var(--brown-tittle);
    align-items: center;
    margin-top: 1.2rem;
    text-align: center;
    font-weight: 400;
    justify-content: space-around;
}

.releases .releases-tittle-line{
    width: 5.4rem;
    background: var(--black-font);
    height: .1rem;
}

.releases-tittle h1{
    width: 20rem;
    font-size: 2.8rem;
    text-align: center;
    font-weight: 600;
}

.release-products-container{
    display: flex;
    flex-direction: column;
}

.link-all-products{
    width: 70%;
    height: 3.2rem;
    background: var(--second-white);
    color: var(--black-font);
    border-radius: .4rem;
    margin: 0 auto;
    margin-top: 1.6rem;
    display: block;
    text-align: center;
    align-content: center;
    font-size: 1.6rem;
    text-decoration: none;
    font-weight: 500;
    border: 1px solid var(--line-gray);
}