@import url('../../global.css');

.sidebar-cart-component{
    width: 28.8rem;
    height: 32.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--first-white);
    border-radius: .4rem;
    border: 1px solid var(--line-gray);
    margin-top: 3.2rem;
}

.sidebar-cart-initial-component{
    width: 28.8rem;
    height: 32.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--first-white);
    border-radius: .4rem;
    border: 1px solid var(--line-gray);
    position: absolute;
    right: 16px;
}

.sidebar-cart-tittle,
.sidebar-cart--initial-tittle{
    font-size: 2.8rem;
    margin: 0 auto;
    margin-top: 2.4rem;
    width: 20.3rem;
    text-align: center;
    font-family: "Caveat", cursive;
    font-weight: 300;
}

.sidebar-cart-big-icon,
.sidebar-cart-initial-big-icon{
    width: 14rem;
    height: 14rem;
    margin: 0 auto;
    margin-top: 2.2rem;
}

.sidebar-totals{
    font-size: 1.6rem;
    display: inline-flex;
    align-self: flex-end;
    margin-right: 2rem;
    width: 16.7rem;
    margin-top: .4rem;
}

.sidebar-totals-price{
    font-weight: 700;
    margin-left: .8rem;
}

.sidebar-purchase-buttons{
    display: flex;
    flex-direction: column;
}

.sidebar-watch-cart,
.sidebar-address-purchase{
    width: 22.2rem;
    height: 3.2rem;
    background: var(--second-white);
    color: var(--black-font);
    border-radius: .4rem;
    margin: 0 auto;
    margin-top: .4rem;
    display: flex;
    justify-content: space-between;
    padding: 0 1.4rem;
    align-items: center;
    font-size: 1.6rem;
    text-decoration: none;
    font-weight: 500;
    border: 1px solid var(--line-gray);
    font-family: "Quicksand", sans-serif;
}


@media only screen and (min-width: 568px){
    .sidebar-cart-component{
        margin-top: 0rem;
        width: 34.4rem;
        height: 17.6rem;
        padding: .2rem;
    }

    .sidebar-purchase-buttons{
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }

    .sidebar-watch-cart,
    .sidebar-address-purchase{
        width: 16rem;
        font-size: 1.4rem;
    }

    .sidebar-cart-tittle{
        margin: 0;
        width: 20.9rem;
        font-size: 2.4rem;
    }

    .sidebar-cart-big-icon{
        margin-top: 0;
        width: 6rem;
        height: 6rem;
    }
}

@media only screen and (min-width: 744px){
    .sidebar-cart-component{
        width: 28.8rem;
        height: 31.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: var(--first-white);
        border-radius: .4rem;
        border: 1px solid var(--line-gray);
    }

    .sidebar-cart-tittle{
        font-size: 2.8rem;
        margin: 0 auto;
        margin-top: 2.4rem;
        width: 20rem;
        text-align: center;
        font-family: "Caveat", cursive;
        font-weight: 300;
    }

    .sidebar-cart-big-icon{
        width: 14rem;
        height: 14rem;
        margin: 0 auto;
        margin-top: 1.6rem;
    }

    .sidebar-totals{
        font-size: 1.6rem;
        display: inline-flex;
        align-self: flex-end;
        margin-right: 2rem;
        width: 16.7rem;
        margin-top: .4rem;
    }

    .sidebar-purchase-buttons{
        display: flex;
        flex-direction: column;
    }
    
    .sidebar-watch-cart,
    .sidebar-address-purchase{
        width: 22.2rem;
        height: 3.2rem;
        margin: 0 auto;
        margin-top: .4rem;
        display: flex;
        justify-content: space-between;
        padding: 0 1.4rem;
        align-items: center;
        font-size: 1.6rem;
        text-decoration: none;
        font-weight: 500;
        border: 1px solid var(--line-gray);
        font-family: "Quicksand", sans-serif;
    }
}


@media only screen and (min-width: 1280px){
    .sidebar-cart-initial-component{
        width: 28.8rem;
        height: 32.4rem;
        right: 88px;
    }
}