@import url('../../global.css');

.sidebar-user-component,
.sidebar-user-initial-component{
    margin: 0 auto;
    margin-top: 3.2rem;
    width: 23.5rem;
    height: 26.8rem;
    border-radius: .4rem;
    border: 1px solid var(--line-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-empty-user,
.sidebar-initial-empty-user{
    width: 6rem;
    height: 6rem;
    margin-top: 1.2rem;
}

.sidebar-user-tittle,
.sidebar-user-initial-tittle{
    width: 16rem;
    margin-top: .4rem;
    font-size: 2.4rem;
    font-family: "Caveat", cursive;
    font-weight: 300;
    text-align: center;
}

.sidebar-user-links,
.sidebar-user-initial-links{
    width: 21rem;
    height: 9.4rem;
    border: 1px solid var(--line-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 3rem;
}

.sidebar-user-links a:first-child,
.sidebar-user-initial-links a:first-child,
.sidebar-user-links a:nth-child(2),
.sidebar-user-initial-links a:nth-child(2){
    font-size: 1.6rem;
    text-decoration: none;
    width: 7.5rem;
    text-align: left;
    color: var(--black-font);
    display: block;
}

@media only screen and (min-width: 568px){
    .sidebar-user-component{
        margin: 0;
        width: 41.2rem;
        height: 15.8rem;
        padding: .8rem;
    }

    .sidebar-empty-user{
        margin: 0;
    }

    .sidebar-user-tittle{
        width: 30.9rem;
        margin-top: .8rem;
    }

    .sidebar-user-links{
        width: 100%;
        height: 3.4rem;
        margin-top: .8rem;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
    }
}

@media only screen and (min-width: 744px){
    .sidebar-user-component{
        margin: 0 auto;
        width: 21.2rem;
        height: 26.8rem;
        border-radius: .4rem;
        border: 1px solid var(--line-gray);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sidebar-empty-user{
        width: 6rem;
        height: 6rem;
        margin-top: 1.2rem;
    }

    .sidebar-user-links{
        width: 21rem;
        height: 9.4rem;
        border: 1px solid var(--line-gray);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 3rem;
    }

    .sidebar-user-tittle{
        width: 16rem;
        margin-top: .4rem;
        font-size: 2.4rem;
        font-family: "Caveat", cursive;
        font-weight: 300;
        text-align: center;
    }

    .sidebar-user-links{
        width: 95%;
        height: 9rem;
        margin-top: 3rem;
    }

    .sidebar-user-links a:first-child,
    .sidebar-user-links a:nth-child(2){
        font-size: 1.6rem;
        text-decoration: none;
        width: 7.5rem;
        text-align: left;
        color: var(--black-font);
        display: block;
    }
}