/*product detail info*/
.product-info-delay{
    margin-top: 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-info-delay .product-info-tittle{
    font-size: 3.2rem;
    text-align: center;
    font-weight: 500;
    font-family: "Caveat", cursive;
}

.product-info-delay .product-info-image{
    width: 20rem;
    margin-top: 1.6rem;   
}

.product-info-delay .product-info-price{
    margin-top: 1.6rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
}

.product-info-delay .product-info-collection{
    font-family: "Caveat", cursive;
    text-align: center;
    font-size: 2.4rem;
    margin-top: .8rem;
}

.product-info-delay .product-info-colors{
    width: auto;
    height: 2.4rem;
    margin-top: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-info-colors input[type="radio"]{
    appearance: none;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: var(--black-font);
}

 .product-info-colors p{
    font-size: 1.6rem;
    margin-left: .8rem;
}

.product-info-delay .product-info-selector{
    display: flex;
    margin-top: 1.6rem;
    align-items: center;
    flex-direction: column;
}

.product-info-counter{
    display: flex;
    width: 9.8rem;
}

.product-size-numbers{
    display: flex;
    width: 100%;
    height: 3.2rem;
    justify-content: space-between;
}

.product-size-numbers .product-size-button{
    width: 3.2rem;
    height: 3.2rem;
    position: relative;
    border-radius: 50%;
}

.product-size-numbers .product-size-button-change{
    width: 3.2rem;
    height: 3.2rem;
    position: relative;
    background: var(--light-gray-form);
    border-radius: 50%;
}


.product-size-numbers input[type="radio"]{
    appearance: none;
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    border: 1px solid var(--line-gray);
}

.product-size-numbers p{
    position: absolute;
    width: 1.8rem;
    height: 1.4rem;
    top: calc( 50% - .7rem );
    left: calc( 50% - .7rem );
    font-size: 1.4rem;
}

.product-info-counter .product-info-minus{
    width: 3.2rem;
    height: 3.2rem;
    border: 1px solid var(--line-gray);
    background-color: none;
    border-top-left-radius: .4rem;
    border-bottom-left-radius: .4rem;
    align-items: center;
    justify-content: center;
}

.product-info-counter .product-info-number{
    width: 3.2rem;
    height: 3.2rem;
    border: 1px solid var(--line-gray);
    text-align: center;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    appearance: none;
}

.product-size-selector{
    width: 20rem;
    height: 3.2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1.2rem;
}

.product-size-selector .product-size-p{
    font-size: 1.6rem;
    margin-top: .4rem;
}

.product-info-counter .product-info-plus{
    width: 3.2rem;
    height: 3.2rem;
    border: 1px solid var(--line-gray);
    background-color: none;
    border-top-right-radius: .4rem;
    border-bottom-right-radius: .4rem;
    align-items: center;
    justify-content: center;
}

.product-info-selector .product-info-unities{
    font-size: 1.6rem;
    text-align: center;
    margin-top: .4rem;
}

.product-info-delay .product-info-send{
    width: 22.2rem;
    height: 3.2rem;
    background: var(--second-white);
    color: var(--black-font);
    border-radius: .4rem;
    margin: 0 auto;
    margin-top: 3.6rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.6rem;
    text-decoration: none;
    font-weight: 500;
    border: 1px solid var(--line-gray);
    font-family: "Quicksand", sans-serif;
}

@media only screen and (min-width: 568px){
    .product-info-delay{
        width: 75%;
        margin: 0 auto;
    }

    .product-info-delay .product-info-price{
        align-self: flex-start;
        font-size: 2.4rem;
    }

    .product-info-delay .product-info-collection{
        align-self: flex-start;
        font-size: 2.4rem;
    }

    .product-info-delay .product-info-colors{
        align-self: flex-start;
    }

    .product-info-delay .product-info-selector{
        align-self: flex-start;
        flex-direction: row;
    }

    .product-info-selector .product-info-unities{
        margin-top: 0;
        margin-left: .8rem;
    }

    .product-size-selector{
        align-self: flex-start;
        flex-direction: row;
        width: 25.2rem;
    }

    .product-size-selector .product-size-p{
        margin-top: 0;
        margin-left: .8rem;
    }

    .product-size-numbers{
        width: 20rem;
    }
}

@media only screen and (min-width: 744px){
    .product-info-delay{
        width: 100%;
        margin: 0;
        display: grid;
        grid-template: 5.4rem 5.4rem 5.4rem 3rem 4.6rem 6rem 5.2rem 6rem/repeat(2,1fr);
        grid-template-areas:"product-global-nav product-global-nav" 
                            "product-info-image product-info-tittle"
                            "product-info-image product-info-price"
                            "product-info-image product-info-colors"
                            "product-info-image product-info-collection"
                            "product-info-image product-info-selector"
                            "product-info-image product-size-selector"
                            "product-info-image product-info-send";
    }

    .product-info-delay .product-info-image{
        grid-area: product-info-image;
        margin-top: 0;
        width: 26rem;
        align-self: flex-start;
        justify-self: center;
    }

    .product-info-delay .product-info-tittle{
        grid-area: product-info-tittle;
        text-align: left;
        align-self: center;
    }

    .product-info-delay .product-info-price{
        grid-area: product-info-price;
        text-align: left;
        margin-top: 0;
        align-self: center; 
    }

    .product-info-delay .product-info-colors{
        grid-area: product-info-colors;
        margin-top: 0;
        width: 11rem;
        align-self: flex-start;
    }

    .product-info-colors input[type="radio"]{
        width: 2.4rem;
        height: 2.4rem;
    }    

    .product-info-delay .product-info-collection{
        grid-area: product-info-collection;
        text-align: left;
    }

    .product-info-delay .product-info-selector{
        grid-area: product-info-selector;
    }

    .product-size-selector{
        grid-area: product-size-selector;
    }

    .product-info-delay .product-info-send{
        grid-area: product-info-send;
        margin: 0;
        justify-self: flex-start;
        align-self: center;
    }
}   


@media only screen and (min-width: 1133px){
    .product-info-delay{
        width: 100%;
        margin: 0;
        display: grid;
        grid-template: 5.4rem 5.4rem 5.4rem 3rem 4.6rem 6rem 5.2rem 6rem 11rem/repeat(2,1fr);
        grid-template-areas:"product-global-nav product-global-nav" 
                            "product-info-image product-info-tittle"
                            "product-info-image product-info-price"
                            "product-info-image product-info-colors"
                            "product-info-image product-info-collection"
                            "product-info-image product-info-selector"
                            "product-info-image product-size-selector"
                            "product-info-image product-info-send";
    }

    .product-info-delay .product-info-image{
        justify-self: flex-end;
        margin-right: 1.6rem;
        width: 34.1rem;
    }

    .product-info-delay .product-info-tittle,
    .product-info-delay .product-info-price,
    .product-info-delay .product-info-colors,
    .product-info-delay .product-info-collection,
    .product-info-delay .product-info-selector,
    .product-size-selector,
    .product-info-delay .product-info-send{
        margin-left: 1.6rem;
    }

    .product-info-delay .product-info-send{
        justify-self: flex-start;
    }
}