@import url('../../global.css');

.shoe-store-target{
    display: grid;
    grid-template-rows: 30.5rem 2.6rem 3.2rem 2.3rem 1fr;
    width: 100%;
    height: 41rem;
    background-color: #F5F5F5;
    border-radius: .4rem;
    font-size: 1.6rem;
    padding: 1.2rem;
    margin-top: 1.4rem;
    text-decoration: none;
}

.shoe-store-colors{
    display: flex;
}

.shoe-store-image{
    width: 26rem;
    height: 29.8rem;
    justify-self: center;
}

.shoe-store-target .shoe-store-collection{
    color:#747272;
}

.shoe-store-target .shoe-store-name{
    color: var(--black-font);
    font-weight: 600;
    font-size: 2rem;
}

.shoe-store-target .shoe-store-price{
    color: #747272;
}


@media only screen and (min-width: 568px){
    .shoe-store-target{
        width: 26rem;
        height: 41.2rem;
        margin: 0;
    }
    
    .shoe-store-image{
        width: 20.4rem;
        height: 24.8rem;
    }    
}

@media only screen and (min-width: 744px){
    .shoe-store-target{
        width: 28.2rem;
        height: 43rem;
        margin: 0;
    }

    .shoe-store-image{
        width: 25.4rem;
        height: 29.8rem;
    }
}

@media only screen and (min-width: 1133px){
    .shoe-store-target{
        width: 26.3rem;
        height: 41rem;
        margin: 0;
    }

    .shoe-store-image{
        width: 22.5rem;
        height: 25.2rem;
    }
}

@media only screen and (min-width: 1280px){
    .shoe-store-target{
        width: 28.2rem;
        height: 43rem;
    }
}
