@import url('../../global.css');

.shoe-store-target,
.shoe-store-target-all-products{
    display: grid;
    grid-template-rows: 25.3rem repeat(4, 2.4rem);
    width: 28.8rem;
    margin: 0 auto;
    height: 41.8rem;
    background-color: #F5F5F5;
    border-radius: .4rem;
    font-size: 1.6rem;
    padding: 1.2rem;
    margin-top: 1.4rem;
    text-decoration: none;
    color: var(--black-font);
}

.shoe-store-target .shoe-store-colors,
.shoe-store-target-all-products .shoe-store-colors{
    display: flex;
}

.shoe-store-colors .shoe-first-color{
    background: var(--black-font);
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
}

.shoe-store-target .shoe-store-image,
.shoe-store-target-all-products .shoe-store-image{
    height: 24rem;
    width: 24rem;
    justify-self: center;
}

.shoe-store-target .shoe-store-collection,
.shoe-store-target-all-products .shoe-store-collection{
    color:#747272;
}

.shoe-store-target .shoe-store-name,
.shoe-store-target-all-products .shoe-store-name{
    color: var(--black-font);
    font-weight: 600;
    font-size: 1.6rem;
}

.shoe-store-target .shoe-store-price,
.shoe-store-target-all-products .shoe-store-price{
    color: #747272;
}

.shoe-store-target .shoe-look-product,
.shoe-store-target-all-products .shoe-look-product{
    width: 22.2rem;
    height: 3.2rem;
    background: var(--second-white);
    border: 1px solid var(--line-gray);
    color: var(--black-font);
    border-radius: .4rem;
    margin: 0 auto;
    margin-top: 1.2rem;
    display: block;
    text-align: center;
    align-content: center;
    font-size: 1.6rem;
    text-decoration: none;
    font-weight: 500;
}

.shoe-store-target .shoe-look-product:hover,
.shoe-store-target-all-products .shoe-look-product:hover{
    width: 22.2rem;
    height: 3.2rem;
    background: var(--black-font);
    color: var(--second-white);
    border-radius: .4rem;
    margin: 0 auto;
    margin-top: 1.2rem;
    display: block;
    text-align: center;
    align-content: center;
    font-size: 1.6rem;
    text-decoration: none;
    font-weight: 500;
    transition-duration: .8s;
    transition-timing-function: ease-in-out;
}

@media only screen and (min-width: 568px){
    .shoe-store-target,
    .shoe-store-target-all-products{
        width: 26rem;
        height: 42rem;
        margin: 0;
    }
    
    .shoe-store-image{
        width: 20.4rem;
        height: 24.8rem;
    }    
}

@media only screen and (min-width: 744px){
    .shoe-store-target,
    .shoe-store-target-all-products{
        width: 28.2rem;
        height: 43rem;
        margin: 0;
    }

    .shoe-store-image{
        width: 25.4rem;
        height: 29.8rem;
    }
}

@media only screen and (min-width: 1133px){
    .shoe-store-target,
    .shoe-store-target-all-products{
        width: 26.3rem;
        height: 42rem;
        margin: 0;
    }

    .shoe-store-image{
        width: 22.5rem;
        height: 25.2rem;
    }
}

@media only screen and (min-width: 1280px){
    .shoe-store-target{
        width: 28.2rem;
        height: 43rem;
    }

    .shoe-store-target-all-products{
        width: 25.5rem;
        height: 42rem;
        grid-template-rows: 22.7rem 2.6rem 4.3rem 1fr;
    }

    .shoe-store-target-all-products .shoe-store-image{
        width: 20.7rem;
        height: 21.1rem;
    }
}
