@import url('../../global.css');

.collections .collections-tittle{
    display: flex;
    font-size: 2.8rem;
    font-family: "Caveat", cursive;
    color: var(--brown-tittle);
    align-items: center;
    margin-top: 1.2rem;
    text-align: center;
    font-weight: 400;
    justify-content: space-around;
}

.collections .collections-tittle-line{
    width: 8.4rem;
    background: var(--black-font);
    height: .1rem;
}

.collections-tittle h1{
    width: 11.4rem;
    font-size: 2.8rem;
    text-align: center;
    font-weight: 600;
}



.collections .collection-container{
    height: 32.2rem;
    width: 100%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    margin-top: 1.2rem;
}

.collections .collection-set{
    display: flex;
    overflow-x: auto;
    width: auto;
}

.collections .collection-left-arrow,
.collections .collection-right-arrow{
    display: none;
}

@media only screen and (min-width: 568px){
    .collections-tittle h1{
        font-size: 3.6rem;
        width: 13.4rem;
        font-weight: 400;
    }

    .collections .collections-tittle-line{
        width: 16.4rem;
    }
    
}

@media only screen and (min-width: 744px){
    .collections .collections-tittle{
        margin: 0 auto;
        margin-top: 1.6rem;
        width: 64.8rem;
    }

    .collections .collections-tittle-line{
        width: 23rem;
    }

    .collections .collection-container{
        margin-top: 1.6rem;
        height: 32.1rem;
    }
}

@media only screen and (min-width: 1280px){
    .collections .collection-container{
        width: 112.8rem;
        height: 34.1rem;
        margin: 0 auto;
        margin-top: 1.6rem;
    }

    .collections .collection-grid{
        display: flex;
        align-items: center;
        height: 100%;
        width: 124.8rem;
        margin: 0 auto;
    }

    .collections .collection-set{
        height: 34.1rem;
        width: 120rem;
        width: auto;
    }

    .collections .collection-left-arrow,
    .collections .collection-right-arrow{
        display: flex;
        align-content: center;
        width: 3.2rem;
        height: 3.2rem;
    }

    .collections ::-webkit-scrollbar {
        width: 100%; /* Ancho de la barra de desplazamiento */
        height: 1.2rem; /* Altura de la barra de desplazamiento horizontal */
        border-radius: .6rem;
        background-color: var(--second-white);
      }
    
      .collections ::-webkit-scrollbar-thumb{
        height: 100%;
        border-radius: .6rem;
        background-color: #e7e7e7;
      }
}


