@import url('../../global.css');


.sidebar-cart-component{
    width: 23.5rem;
    height: 26.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--first-white);
    border-radius: .4rem;
    border: 1px solid var(--line-gray);
    margin-top: 3.2rem;
}
.sidebar-cart-initial-component{
    width: 23.5rem;
    height: 26.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--first-white);
    border-radius: .4rem;
    border: 1px solid var(--line-gray);
    position: absolute;
    right: 16px;
}

.sidebar-cart-tittle,
.sidebar-cart--initial-tittle{
    font-size: 2.4rem;
    margin: 0 auto;
    margin-top: 2.4rem;
    width: 16rem;
    text-align: center;
    font-family: "Caveat", cursive;
    font-weight: 300;
}

.sidebar-cart-big-icon,
.sidebar-cart-initial-big-icon{
    width: 10rem;
    height: 10rem;
    margin: 0 auto;
    margin-top: 3.2rem;
}

@media only screen and (min-width: 568px){
    .sidebar-cart-component{
        margin-top: 0rem;
        width: 22.2rem;
        height: 17.4rem;
        padding: .4rem;
    }

    .sidebar-cart-tittle{
        margin: 0;
        width: 20.9rem;
    }

    .sidebar-cart-big-icon{
        margin-top: 0;
        width: 6rem;
        height: 6rem;
    }
}

@media only screen and (min-width: 744px){
    .sidebar-cart-component{
        width: 21.2rem;
        height: 26.8rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: var(--first-white);
        border-radius: .4rem;
        border: 1px solid var(--line-gray);
        padding: 0;
    }

    .sidebar-cart-tittle{
        font-size: 2.4rem;
        margin: 0 auto;
        margin-top: 2.4rem;
        width: 16rem;
        text-align: center;
        font-family: "Caveat", cursive;
        font-weight: 300;
    }

    .sidebar-cart-big-icon{
        width: 10rem;
        height: 10rem;
        margin: 0 auto;
        margin-top: 3.2rem;
    }
}
    