@import url('../../global.css');

.sidebar-filter{
    background: var(--second-white);
    width: 100%;
    height: 56.8rem;
    position: fixed;
    left: 0%;
    transform: translateX(-100%);
    transition-duration: 1.2s;
    transition-timing-function: ease-in-out;
    z-index: 2;
}

.sidebar-filter-change{
    background: var(--second-white);
    width: 100%;
    height: 56.8rem;
    position: fixed;
    left: 0%;
    transform: translateX(0%);
    transition-duration: .8s;
    transition-timing-function: ease-in-out;
    z-index: 2;
}

.sidebar-filter-container{
    width: 90%;
    margin: 0 auto;
}

.sidebar-filter-close{
    width: 3rem;
    height: 3rem;
    margin-top: 1.6rem;
}

.sidebar-filter-tittle{
    text-align: center;
    margin-top: .8rem;
    font-size: 3.2rem;
    font-family: "Caveat", cursive;
    font-weight: 300;
}

@media only screen and (min-width: 568px){
    .sidebar-filter,
    .sidebar-filter-change{
        display: none;
    }
}
