@import url('../../global.css');

.form-container{
    background: var(--black-font);
    color: var(--first-white);
    padding: 1.2rem 0;
}

.form-container h1{
    font-size: 2.8rem;
    text-align: center;
    font-family: "Caveat", cursive;
    font-weight: 300;
}

.form-container h1 + p{
    font-size: 1.6rem;
    margin-top: 1.6rem;
}

.form-container .form-sienna{
    background: #535353;
    padding: 1.6rem;
    font-size: 1.6rem;
    border-radius: .4rem;
    margin-top: 1.6rem;
}

.form-sienna .form-name,
.form-sienna .form-surname,
.form-sienna .form-email,
.form-sienna .form-address,
.form-sienna .form-cellphone,
.form-sienna .form-cities,
.form-sienna .form-password{
    display: flex;
    flex-direction: column;
    margin-top: 1.2rem;
}

.form-container .form-container-tittle{
    width: 90%;
    margin: 0 auto;
}

.form-sienna .form-name input[type="text"],
.form-sienna .form-surname input[type="text"],
.form-sienna .form-email input[type="email"],
.form-sienna .form-address input[type="text"],
.form-sienna .form-cities select,
.form-sienna .form-password input{
    background: #747272;
    height: 3rem;
    margin-top: 1.2rem;
    width: 100%;
    border: none;
    color: var(--first-white);
}

.form-sienna .form-cellphone input[type="text"]{
    background: #747272;
    height: 3rem;
    margin-top: 1.2rem;
    width: 100%;
    border: none;
    color: var(--first-white);
    text-align: center;
}

.form-sienna .form-cellphone-object{
    display: grid;
    grid-template-columns: 15.5% 1fr;
    gap: .4rem;
}

.form-sienna .form-sienna-submit{
    width: 22.2rem;
    background: #747272;
    margin: 0 auto;
    margin-top: 1.6rem;
    border: 1px solid var(--light-gray-form);
    display: grid;
    height: 3rem;
    align-content: center;
    text-align: center;
    color: var(--first-white);
    font-size: 1.4rem;
    font-weight: 400;
    border-radius: .4rem;
}

@media only screen and (min-width: 568px){
    .form-container h1{
        font-size: 3.6rem;
    }

    .form-container h1 + p{
        font-size: 1.6rem;
        text-align: center;
    }

    .form-sienna .form-name,
    .form-sienna .form-surname,
    .form-sienna .form-email,
    .form-sienna .form-address,
    .form-sienna .form-cellphone,
    .form-sienna .form-cities,
    .form-sienna .form-password{
        margin: 0;
    }

    .form-sienna{
        display: grid;
        padding: 1.2rem;
        grid-template: repeat(5,1fr)/repeat(2,1fr);
        gap: 1.2rem 1.6rem;
        width: 100%;
        height: 36rem;
        grid-template-areas:"form-name form-surname"
                            "form-email form-address"
                            "form-cellphone form-cities"
                            "form-password form-password"
                            "form-sienna-submit form-sienna-submit";
        
    }

    .form-sienna .form-name{
        grid-area: form-name;
    }
    
    .form-sienna .form-surname{
        grid-area: form-surname;
    }

    .form-sienna .form-email{
        grid-area: form-email;
    }

    .form-sienna .form-address{
        grid-area: form-address;
    }

    .form-sienna .form-cellphone{
        grid-area: form-cellphone;
    }

    .form-sienna .form-cities{
        grid-area: form-cities;
    }

    .form-sienna .form-password{
        grid-area: form-password;
    }

    .form-sienna .form-sienna-submit{
        grid-area: form-sienna-submit;
        justify-self: center;
        margin-top: 0rem;
    }
}

@media only screen and (min-width: 744px){
    .form-container{
        padding: 1.6rem 0;
    }

    .form-sienna{
        width: 57.7rem;
        margin: 0 auto;
    }

    .form-container h1 + p{
        font-size: 2rem;
        width: 45.8rem;
        margin: 0 auto;
        margin-top: 2.4rem;
    }

    .form-container .form-sienna{
        margin-top: 2.4rem;
    }
}

@media only screen and (min-width: 1280px){
    .form-container{
        padding: 2rem 0 3.6rem 0;
    }
    .form-container h1{
        font-size: 3.6rem;
    }

    .form-container h1 + p{
        margin-top: 1.6rem;
    }
}


